<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">Portfolio</div>
      <div class="header-list">
        <ul>
          <li><a href="http://[::1]:3000/home/profile">プロフィール</a></li>
          <li>ポートフォリオ</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </div>

    <div class="main">
        <div class="copy-container">
            <h1>
                HELLO WORLD<span>.</span>
            </h1>
            <h2>
                エンジニアを目指して<span>.</span>
            </h2>
        </div> 

        <div class="contents">
            <h3 class="section-title">
                習得技術
            </h3>

            <div class="contents-item">
                <img src="https://icongr.am/devicon/python-original.svg?size=128&color=currentColor">
                <p>Python</p>
            </div>

            <div class="contents-item">
                <img src="https://icongr.am/devicon/ruby-original.svg?size=128&color=currentColor">
                <p>Ruby</p>
            </div>

            <div class="contents-item">
                <img src="https://icongr.am/devicon/html5-original.svg?size=128&color=currentColor">
                <p>HTML</p>
            </div>

            <div class="contents-item">
                <img src="https://icongr.am/devicon/css3-original.svg?size=128&color=currentColor">
                <p>css</p>
            </div>
        </div>
        <div class="contact-form">
            <h3 class="section-title">お問い合わせ</h3>

            <p>メールアドレス(必須)</p>
            <input>
            
            <p>お問い合わせ内容(必須)</p>
            <textarea></textarea>

            <p>※必須項目は必ずご入力ください</p>
            <input class="contact-submit" type="submit" value="送信" />

        </div>
      
    </div>

    <div class="footer">

        <div class="footer-logo">
        Portfolio
        </div>
      
        <div class="footer-list">
        <ul>
            <li>会社概要</li>
            <li>採用</li>
            <li>お問い合わせ</li>
        </ul>
        </div>
      
    </div>
  </body>
</html>

<!--<div class="main-top-main">
    <div class="top-message">
        <h1>Hello,World</h1>
        <p class="Question_1">Whats doing?</p>
        <p class="Question_2">How are you?</p>
    </div>
</div>

<ul>
    <li>HTML</li>
    <li>Python</li>
    <li>Ruby</li>
    <li>Java</li>
</ul>
